{% load static %}
<!DOCTYPE html>
<html data-theme="halloween">
  <head>
    <title>{% block title %}Portal{% endblock %} | Robosub
    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        daisyui: {
          themes: ["lofi", "black", "halloween"],
        },
        theme: {
          extend: {
            fontFamily: {
              'kanit': 'Kanit, sans-serif',
            },
            colors: {
              primary: '#bf1e2e',
              text: '#d9d9d9',
              textDark: '#1e1e1e',
            }
          }
        }
      };
    </script>
    <style>
      .font-text {
        font-family: 'Kanit', sans-serif;
      }
      
      .font-accent {
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
      }

    </style>
  </head>
  <body>
        {% block content %}{% endblock %}
  </body>
</html>
